@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Montserrat:wght@100;200;400;500;700;800;900&display=swap" rel="stylesheet');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1; }

:root {
  --font-primary: 'Montserrat', sans-serif;
  --font-fredrika: 'Fredericka the Great', cursive; }

.heading__primary {
  background-image: linear-gradient(to right, #12c2e9, #c471ed, #ec38bc);
  background-clip: text;
  display: inline-block;
  cursor: pointer;
  font-size: 15rem;
  font-weight: 500;
  color: transparent;
  transition: all 400ms ease-in-out; }
  .heading__primary:hover {
    color: #f07dea; }

.btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 1.2rem 2.4rem;
  font-family: var(--font-primary);
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 9px;
  text-transform: uppercase;
  background-color: #a460ed;
  color: #eeeeee;
  transition: all 400ms ease-in-out;
  border: 1px solid transparent; }
  .btn:hover {
    background-color: transparent;
    border: 1px solid #a460ed; }
  .btn--bordered {
    background-color: transparent;
    border: 1px solid #9fc9f3;
    transition: background-color 400ms ease-in-out; }
    .btn--bordered:hover {
      background-color: #9fc9f3;
      border: 1px solid #9fc9f3; }

.hero {
  min-height: 100vh;
  background-color: #100a18;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem; }
  .hero__subtitle {
    font-family: var(--font-fredrika);
    font-size: 3.2rem;
    color: #eeeeee;
    margin-bottom: 3rem; }
  .hero__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem; }
