// Main colors
$color-primary-light: #f28aec;
$color-primary: #f07dea;
$color-primary-dark: #d871d3;
$color-secondary-light: #ad70ef;
$color-secondary: #a460ed;
$color-secondary-dark: #9456d5;
$color-accent: #9fc9f3;

// Whites
$color-white: #eeeeee;

// Greys
$color-black: #100a18;
