.hero {
  min-height: 100vh;
  background-color: $color-black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;

  &__subtitle {
    font-family: var(--font-fredrika);
    font-size: 3.2rem;
    color: $color-white;
    margin-bottom: 3rem;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}
