.btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 1.2rem 2.4rem;
  font-family: var(--font-primary);
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 9px;
  text-transform: uppercase;
  background-color: $color-secondary;
  color: $color-white;
  transition: all 400ms ease-in-out;
  border: 1px solid transparent;

  &:hover {
    background-color: transparent;
    border: 1px solid $color-secondary;
  }

  &--bordered {
    background-color: transparent;
    border: 1px solid $color-accent;
    transition: background-color 400ms ease-in-out;

    &:hover {
      background-color: $color-accent;
      border: 1px solid $color-accent;
    }
  }
}

.circle__btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 2rem 2.4rem;
  border-radius: 50%;
  font-size: 3rem;
  font-weight: 100;
  background-color: $color-black;
  color: $color-primary;
  box-shadow: 0 0.5rem 1rem rgba($color-primary, $alpha: 0.2);
  transition: all 100ms ease-out;

  &--right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    &:hover {
      transform: translate(50%, -55%);
    }

    &:active {
      transform: translate(50%, -47%);
    }
  }
  &--left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    &:hover {
      transform: translate(-50%, -55%);
    }

    &:active {
      transform: translate(-50%, -47%);
    }
  }
}
