.heading__primary {
  background-image: linear-gradient(to right, #12c2e9, #c471ed, #ec38bc);
  background-clip: text;
  display: inline-block;
  cursor: pointer;
  font-size: 11rem;
  font-weight: 500;
  color: transparent;
}
